/* open-sans-regular - latin_cyrillic-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/open-sans-v34-latin_cyrillic-ext-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v34-latin_cyrillic-ext-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin_cyrillic-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/open-sans-v34-latin_cyrillic-ext-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v34-latin_cyrillic-ext-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  height: 100vh;
}
h1,
h2,
h3 {
  font-weight: 700;
}
ul,
ol {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  display: flex;
}
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}
.btn {
  padding: 8px 16px;
  color: #ffffff;
  border-radius: 5px;
  background-color: #00bafc;
  font-weight: 700;
}

/* HEADER */
.header {
  position: fixed;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  width: 100vw;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 8px;
  padding-bottom: 8px; */
}

.logo {
}
.logo-img {
}
.hader-navs {
  display: flex;
  align-items: center;
}
.sitenav {
}
.sitenav-list {
  display: flex;
  gap: 3.2rem;
  margin-right: 2.4rem;
  margin-top: 0;
  margin-bottom: 0;
}
.sitenav-item {
  padding: 1.6rem;
}
.sitenav-link {
  color: #000000;
  font-size: 1.5rem;
}

.header-btn {
  font-size: 1.5rem;
}
/* MAIN */
/* HERO SECTION */
.main {
}
.hero-section {
  padding-top: 5.6rem;
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8rem 0;
}
.container {
}
.hero-info {
  width: 470px;
}
.hero-title {
  font-size: 30px;
  line-height: 130%;
  margin-bottom: 1.6rem;
}
.hero-descr {
  margin-bottom: 1.6rem;
}
.btn {
}
.hero-btn {
}
.hero-video {
  border-radius: 5px;
}
/* SERVICE SECTION */
.service-section {
}
.service-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container {
}
.service-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 719px;
}
.serivice-title {
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 1.6rem;
}
.service-descr {
  text-align: center;
  margin-bottom: 1.6rem;
}
.service-card {
  padding-bottom: 4rem;
}
.card-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 7rem;
}
.card-item {
  width: 32rem;
  /* height: 26rem; */
  padding-top: 3.2rem;
  padding-bottom: 2.4rem;
  background: #ffffff;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.card-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-img {
}
.card-title {
  font-size: 2rem;
  line-height: 130%;
  color: #000000;
}
.card-descr {
  color: #000000;
}
.hero-buttom {
  margin-bottom: 5.6rem;
}
.btn {
}
.hero-buttom-btn {
  margin-right: 1.6rem;
}
.hero-buttom-link {
  color: #00bafc;
}

/* WORK SECTION */
.work-section {
}
.work-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
}
.work-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 72rem;
}
.work-title {
  font-size: 24px;
  line-height: 130%;
}
.work-descr {
  text-align: center;
  margin-bottom: 2.4rem;
}
.work-list {
  margin-bottom: 5rem;
}
.work-item {
  display: flex;
  gap: 3.2rem;
}
.work-item-img {
}
.work-item:nth-child(even) .work-item-img {
  order: 1;
}
.work-item-info {
  /* width: 49.3rem; */
  padding: 9.8rem 0;
}
.item-info-title {
  font-size: 20px;
  line-height: 130%;
}
.item-info-descr {
}
.btn {
}
.work-btn {
  margin-bottom: 5.5rem;
}
/* BUYURTMA SECTION */
.buyurtma-section {
  background-color: #00bafc;
}
.buyurtma-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5.6rem;
}
.container {
}
.buyurtma-info {
  width: 72rem;
  text-align: center;
}
.buyurtma-title {
  font-size: 24px;
  line-height: 130%;
  color: #ffffff;
  margin-bottom: 1.6rem;
}
.buyurtma-descr {
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 2.4rem;
}
.buyurtma-form {
  width: 34.8rem;
  border-radius: 5px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  padding: 2.4rem 0;
  margin-bottom: 6.4rem;
}
.input-item,
.buyurtma-form-select {
  width: 30rem;
  height: 5.6rem;
  padding-left: 1.6rem;
  border: transparent;
  background-color: #f3f3f3;
}
.input-item::placeholder {
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}
.btn {
}
.form-btn {
  border: transparent;
}
/* FOOTER */
.footer {
  background-color: #191919;
  padding-top: 5.6rem;
  padding-bottom: 5.6rem;
  color: #ffffff;
}
.footer-container {
}
.container {
}
.footer-list {
  display: flex;
  gap: 8.7rem;
}
.footer-item:nth-child(1) {
  width: 32rem;
}
.footer-item-list {
}
.footer-item-item:not(:last-child) {
  margin-bottom: 8px;
}
.footer-item-item-title {
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 1.6rem;
}
.footer-item-item-link {
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  display: flex;
  gap: 8px;
  align-items: center;
}
.footer-item-item-img {
}
